<div class="Entries Body">
  <header>Darrellist</header>

{{#each allPosts}}
  <div class="panel">
  <img class="mainImage" src={{this.img}}>
  <div class="infoHolder">
  <div class="description">{{this.desc}}</div>
  <div class="price">{{this.price}}</div>
  <a href="{{this.url}}">Original CL Post</a>
  </div>
 </div>
{{/each}}

</div>

    
      