header {
	text-align: center;
	color: white;
	background-color: rgba(3, 8, 107, 1);
	font-size: 45px;
	font-family: 'Pathway Gothic One', sans-serif;
	padding: 30px;
}

.title1 {
	display: inline;
	margin-bottom: 30px;
}

.title2 {
	display: inline;
	opacity: .5;
}

.intro {
	margin-top: 15px;
	opacity: .75;
}

.panel{
	position: relative;
	background-color: rgba(240, 240, 240, 1);
	padding: 8px;
	margin: 8px;
}

.content{
	position: relative;
}

.showComments{
	background-color: rgba(3, 9, 112, .5);
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	color: rgba(255, 255, 255, .5);
	padding: 10px;
	position: absolute;
	right: 0px;
	bottom: 0px;
	cursor: pointer;
	transition: color .5s;
}

.showComments:hover{
	color: white;
}

.addCommentContainer{
	display: none;
}

.commentsHolder{
	display: none;
	position: relative;
}

.origLink {
	font-family: 'Open Sans', sans-serif;
	position: absolute;
	bottom: 14px;
	left: 21%;
	font-size: 14px;
	color: rgba(4, 12, 150, 1);
	text-decoration: none;
}

p {
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;	
}

.mainImage{
	display: inline-block;
	width: 20%;
	margin-bottom: 10px;
}

.description{
	color: rgba(3, 8, 107, 1);
	font-size: 25px;
	font-family: 'Pathway Gothic One', sans-serif;
	margin-bottom: 20px;
}

.price{
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color: rgba(3, 8, 107, .5);
}



.infoHolder {
	position: relative;
	padding: 10px;
	vertical-align: top;
	width: 60%;
	display: inline-block;
	height: auto;
}

.commentDivider{
	position: relative;
	padding: 10px;
	border-top: 1px solid;
	border-color: rgba(220, 220, 220, 1);
}

.commentRemove {
	color: rgba(255,255,255,.5);
	background-color: rgba(217,4,4,.5);
	border-style: none;
	padding: 0px;
	width: 25px;
	height: 25px;
	line-height: 25px;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	position: absolute;
	right: 10px;
	bottom: 5px;
	transition: background-color, color .5s;
	cursor: pointer;
}

.scrape {
	text-align: center;
}

.scrapeButton {
	margin: 20px;
	padding: 10px;
	color: rgba(255,255,255,.5);
	background-color: rgba(217,4,4,.5);
	border-style: none;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	transition: background-color, color, box-shadow .5s;
	cursor: pointer;
	box-shadow: 0px 5px 12px rgba(0,0,0,.2);
}

.scrapeButton:hover{
	color: white;
}

.scrapeButton:active {
	box-shadow: 0px 0px 0px rgba(0,0,0,.4);
}

.commentRemove:hover{
	background-color: rgba(217,4,4,1);
	color: rgba(255,255,255,1);
}

.addComment {
	border-style: none;
	position: absolute;
	right: 10px;
	background-color: rgba(1, 97, 58, .5);
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 14px;
	padding: 10px;
	text-transform: uppercase;
	color: rgba(255, 255, 255, .5);
	cursor: pointer;
	transition: color, background-color .5s;
}

.addComment:hover {
	color: rgba(255, 255, 255, 1);
	background-color: rgba(1, 97, 58, 1);
}

textarea {
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	background-color: rgba(255, 255, 255, 0);
	resize: none;
	border-top: none;
	border-left: none;
	border-right: none;
	width: 70%;
	box-shadow: none;

}